<!--
  Change below was necessary to institute Source/Deposit Collection structure.
  For more information, read the SOURCE_DEPOSIT_CHANGES_README.md in dlp-curate's root folder.
-->
<% if @presenter.deposit_collections %>
  <div class="col hyc-metadata">
    <h4><%= t('hyrax.collections.show.deposit_collections') %></h4>
    <dl>
      <% @presenter.deposit_collections.each do |collection| %>
        <div class="metadata-line">
          <%= collection_link(collection, request_url) %>
        </div>
      <% end %>
    </dl>
  </div>
<% end %>