<!-- [Hyrax-overwrite] -->
<!-- Persistent URL block start -->
<div>
  <b>Persistent URL</b>
  <ul class="tabular">
    <li><a href="http://<%= @presenter.purl %>" target="_blank"><%= @presenter.purl %></a></li>
  </ul>
</div>
<!-- Persistent URL block end -->
<dl>
  <% present_terms(@presenter, @presenter.terms_with_values) do |r, term| %>
    <div>
      <dt><%= r.label(term) %></dt>
      <dd><%= r.value(term) %></dd>
    </div>
  <% end %>
</dl>
