<% # [Hyrax-overwrite-v3.4.2] %>
<dl>
  <!-- Persistent URL block start -->
  <div class='metadata-line'>
    <div class='col-xs-12 col-sm-4'><dt >Persistent URL</dt></div>
    <div class='col-xs-12 col-sm-8'><dd><a href="<%= @presenter.purl %>" target="_blank"><%= @presenter.purl %></a></dd></div>
  </div>
  <!-- Persistent URL block end -->
  <% @presenter.terms_with_values.each do |field_name| %>
    <div class='metadata-line'>
      <div class='col-xs-12 col-sm-4'><dt><%= collection_metadata_label(@presenter, field_name) %></dt></div>
      <div class='col-xs-12 col-sm-8'><dd><%= collection_metadata_value(@presenter, field_name) %></dd></div>
    </div>
  <% end %>
</dl>
