<% if presenter.deposit_collection? %>
  <div class="hyc-blacklight hyc-bl-title">
    <h4><%= t('hyrax.collections.show.source_collection') %></h4>
  </div>
  <div class="hyc-blacklight hyc-bl-source-link">
    <%= source_collection_link(presenter.deposit_collection_object, request_url) %>
  </div>
<% end %>