# rename to either .env.development or .env.production

# Curate provides a proxy for iiif requests.
# This is the url of the IIIF server we are proxying
PROXIED_IIIF_SERVER_URL=

# This is the iiif url for THIS application, which is used for displaying
# images in views, etc.
IIIF_SERVER_URL=

SIDEKIQ_WORKERS=

RAILS_HOST=

PROJECT_NAME=

DATABASE_ADAPTER=
DATABASE_POOL=
DATABASE_HOST=
DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=

ADMIN_PASSWORD=
UPLOAD_PATH=
CACHE_PATH=
WORKING_PATH=
DERIVATIVES_PATH=

CONTACT_US_EMAIL=

FEDORA_URL=
FEDORA_USER=
FEDORA_PASSWORD=

SOLR_URL=


#####Optional Passwords
GEONAMES_USERNAME=
GEONAMES_PASSWORD=

REDIS_DATABASE=
REDIS_HOST=
REDIS_PORT=

HONEYBADGER_API_KEY=

CSV_FILE=
