# rename to either .env.development or .env.production

# Curate provides a proxy for iiif requests.
# This is the url of the IIIF server we are proxying
PROXIED_IIIF_SERVER_URL=

# This is the iiif url for THIS application, which is used for displaying
# images in views, etc.
IIIF_SERVER_URL=

# This variable will contain the path to the directory where manifests get
# cached. Eg: "/full/path/to/directory"
IIIF_MANIFEST_CACHE=

# This variable will contain Lux's base URL. Eg: 'digital-test.library.emory.edu'
LUX_BASE_URL=

SIDEKIQ_WORKERS=

RAILS_HOST=

PROJECT_NAME=

DATABASE_ADAPTER=
DATABASE_POOL=
DATABASE_HOST=
DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=

ADMIN_PASSWORD=
UPLOAD_PATH=
CACHE_PATH=
DERIVATIVES_PATH=

CONTACT_US_EMAIL=

FEDORA_URL=
FEDORA_USER=
FEDORA_PASSWORD=

SOLR_URL=


#####Optional Passwords
GEONAMES_USERNAME=
GEONAMES_PASSWORD=

REDIS_DATABASE=
REDIS_HOST=
REDIS_PORT=

HONEYBADGER_API_KEY=

CSV_FILE=

# ArchivesSpace API credentials
ARCHIVES_SPACE_PUBLIC_BASE_URL=
ARCHIVES_SPACE_API_BASE_URL=
ARCHIVES_SPACE_USERNAME=
ARCHIVES_SPACE_PASSWORD=

# IPs needed for deployment
ARCH_SERVER_IP=
TEST_SERVER_IP=
PROD_SERVER_IP=
