<!--
  Change below was necessary to institute Source/Deposit Collection structure.
  For more information, read the SOURCE_DEPOSIT_CHANGES_README.md in dlp-curate's root folder.
-->
<% if current_user.admin? %>
  <%= 
    f.input key, 
    as: :multi_value_select, 
    collection: all_collections_collection,
    include_blank: true, required: false,
    input_html: { class: 'form-control' }
  %>
<% else %>
  <p>Available only for admins.</p>
<% end %>