version: 2.1
orbs:
    node: circleci/node@4.9.0
    qlty-orb: qltysh/qlty-orb@0.1.1
    samvera: samvera/circleci-orb@1.0.3
jobs:
    build:
        parameters:
            ruby_version:
                type: string
                default: 2.7.4
            bundler_version:
                type: string
                default: 2.1.4
        executor:
            name: samvera/ruby_fcrepo_solr_redis
            ruby_version: << parameters.ruby_version >>
            solr_version: 7
        working_directory: ~/project
        parallelism: 4
        steps:
            - checkout

            - node/install:
                install-yarn: true
                install-npm: false
                node-version: "v20.15.1"

            - samvera/bundle:
                ruby_version: << parameters.ruby_version >>
                bundler_version: << parameters.bundler_version >>

            - samvera/rubocop

            - run:
                name: Get yarn version
                command: echo $(yarn --version) >> "YARN_VERSION"

            - restore_cache:
                keys:
                    - v1-yarn-{{ checksum "yarn.lock" }}-{{ checksum "YARN_VERSION" }}

            - run: yarn

            - save_cache:
                key: v1-yarn-{{ checksum "yarn.lock" }}-{{ checksum "YARN_VERSION" }}
                paths:
                    - ~/project/node_modules

            - samvera/install_solr_core

            - samvera/parallel_rspec

            - qlty-orb/coverage_publish:
                files: coverage/lcov.info

            - store_artifacts:
                path: tmp/screenshots

    coverage:
        docker:
            - image: cimg/ruby:2.7.4
        working_directory: ~/project
        parallelism: 1
        steps:
            - qlty-orb/coverage_complete

workflows:
    version: 2
    ci:
        jobs:
            - build:
                name: ruby2.7.4
            - coverage:
                name: codeclimate
                requires:
                    - ruby2.7.4
