<%# Deprecation Warning: As of Curate v3, Zizia will be removed. This is an artifact %>
<%#   of the Zizia install that will likely be removed. %>
<h3>CSV Imports</h3>
<table class="table table-striped">
  <tr>
    <th>ID</th>
    <th>Associated User</th>
    <th>CSV File</th>
    <th>Total Size in Bytes</th>
  </tr>
  <% @csv_import_details.each do |csv_import_detail| %>
    <tr>
      <td>
        <%= link_to csv_import_detail.id, url_for(csv_import_detail) %>
      </td>
      <td>
        <%= User.find(csv_import_detail.csv_import.user_id).uid %>
      </td>
      <td>
        <%= csv_import_detail.csv_import.manifest %>
      </td>
      <td>
        <%= csv_import_detail.total_size %>
      </td>
    </tr>
  <% end %>
</table>
