development:
  user: fedoraAdmin
  password: fedoraAdmin
  url: http://<%= ENV['FCREPO_HOST'] || '127.0.0.1' %>:<%= ENV['FCREPO_PORT'] || 8080 %>/rest
  base_path: /dev
test:
  user: fedoraAdmin
  password: fedoraAdmin
  url: http://<%= ENV['FCREPO_HOST'] || '127.0.0.1' %>:<%= ENV['FCREPO_PORT'] || 8080 %>/rest
  base_path: /test
production:
  user: <%= ENV['FEDORA_USER'] %>
  password: <%= ENV['FEDORA_PASSWORD'] %>
  url: <%= ENV['FEDORA_URL'] %>
  base_path: <%= ENV['FEDORA_BASE_PATH'] || '/prod' %>
  request: { timeout: 7200, open_timeout: 60}
