---
default: &default
  host: <%= ENV['REDIS_HOST'] || 'localhost' %>
  port: <%= ENV['REDIS_PORT'] || 6379 %>
  password: <%= ENV['REDIS_PASSWORD'] %>
  db: <%= ENV['REDIS_DATABASE'] || 0 %>

development:
  <<: *default

test:
  <<: *default

production:
  <<: *default
