---
:queues:
  - [ingest, 4]
  - [batch, 2]
  - [fixity_check_job, 2]
  - [default, 1]
  - [import, 4]
  - [export, 1]

:limits:
  fixity_check_job: 1

:process_limits:
  fixity_check_job: 1

:timeout: 300

:max_retries: 3

test: # n/a
  :concurrency: <%= ENV['SIDEKIQ_WORKERS'] || 1 %>

development:
  :concurrency: <%= ENV['SIDEKIQ_WORKERS'] || 2 %>

production:
  :concurrency: <%= ENV['SIDEKIQ_WORKERS'] || 15 %>
