<% # [Hyrax-overwrite-hyrax-v5.2.0] %>
<div class="view-wrapper">
  <iframe
      class="universal-viewer-iframe"
      width="1140px"
      height="668px"
      src="/uv/uv.html#?manifest=<%= universal_viewer_manifest_link_for_work_id(presenter.id) %>&config=<%= universal_viewer_config_url(presenter.id) %>"
      allowfullscreen="true"
      frameborder="0"
  ></iframe>
</div>
