div.as-button-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button.as-button {
    display: flex;
    align-items: center;
}

#aspace-modal {
    transition: .3s;
    }

span.aspace-result-label {
    font-weight: 700;
    color: #082B73;
}