div.as-button-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button.as-button {
    display: flex;
    align-items: center;
}

div.modal-content {
    transition: 1.1s ease-out;
}

span.aspace-result-label {
    font-weight: 700;
    color: #082B73;
    padding-bottom: 10px;
}

