.ui-autocomplete-loading {
  background: #fff url("/assets/loading.gif") right center no-repeat;
}

.ui-autocomplete {
    max-height: 300px;
    overflow-y: auto;
}

.collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}
