@import 'search_results';
@import 'archivesspace_button';
@import 'work_show_page';

.ui-autocomplete-loading {
  background: #fff url("/assets/loading.gif") right center no-repeat;
}

.ui-autocomplete {
    max-height: 300px;
    overflow-y: auto;
}

.collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}

.error-validate{
	display: block;
	height: 20px;
}

.missing {
  color: grey;
}

#s2id_collection_thumbnail_id{
	padding: 0px;
	height: 100%;
}

.preservation_failures_absent {
  color: green;
}

.preservation_failures_present, .no-preservation-events {
  color: red;
}

dl.file-show-details {
  -moz-column-count: 1;
  -webkit-column-count: 1;
  column-count: 1;
  -moz-column-width: unset;
  -webkit-column-width: unset;
  column-width: unset;
  border-top: none;
  padding-top: 0.70rem;

  dt {
    text-align: left;
  }

  dd {
    padding-bottom: 0.70rem;
  }
}

div.hyc-metadata {
  dl {
    border-top: none;
  }

  div {
    border-bottom: none;
  }

  div.metadata-line {
    border-bottom: 1px solid #ddd;
    display: flow-root; 

    div {
      dt, dd { width: 100%; }
      dt { flex-basis: 215px; }
    }
  }
}

div.row.hyc-body { 
  margin-left: 0px;
  margin-right: 0px;
}

// Set bottom padding to 0px for user activity table
// [Hyrax-overwrite-v3.0.0.pre.rc1]
.activity-display {
  max-height: 100%;
  overflow: scroll;
  padding-bottom: 0px !important; // adding important so it doesn't fall back on hyrax's styling
  position: relative;

  .activity-date {
    padding-right: 130px;
  }
}

.view-wrapper {
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

// Change below was necessary to institute Source/Deposit Collection structure.
// For more information, read the SOURCE_DEPOSIT_CHANGES_README.md in dlp-curate's root folder.
.hyc-blacklight.hyc-bl-source-link {
  margin-bottom: 3rem;
  padding: 0 1.5rem;
} 

.table.table-striped.preprocessors {
  td > input.book_start_num {
    max-width: 4rem;
  }

  td > input[type="file"] {
    white-space: normal;
    word-wrap: break-word;
    max-width: 15rem;
  }

  td, th {
    max-width: 10%;
  }
}

