<% # [Hyrax-overwrite-v3.3.0] Completely excises the dl structure %>
<h2 class="sr-only"><%= t('.descriptions') %></h2>
<div>
  <% @presenter.terms_with_values.each do |field_name| %>
    <p><strong><%= collection_metadata_label(@presenter, field_name) %></strong><br>
    <%= collection_metadata_value(@presenter, field_name) %></p>
  <% end %>
</div>
