<% type_title = collection_type_label_for(collection: @collection) %>
<% provide :page_title, construct_page_title( t('.header', type_title: type_title)) %>
<% provide :page_header do %>
  <div class="as-button-div">
    <h1>
      <p class="fa fa-edit" aria-hidden="true"></p> 
      <%= t('.header', type_title: "User Collection") %> 
    </h1>
    <button type="button" class="as-button btn btn-primary" data-toggle="modal" data-target="#asModal">Populate from ArchivesSpace</button>
  </div>
  <div id="asModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div id="aspace-modal" class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Populate from ArchivesSpace</h4>
        </div>
        <div class="modal-body">
          <p>Select an ArchivesSpace Repository.</p>
          <div class="form-group">
            <label for="sel1">Select list:</label>
            <select class="form-control" id="sel1"></select>
          </div>
          <div class="call-number-field">
            <label for="aspace-call-number">Call Number: (must be exact)</label>
            <input type="text" class="form-control" id="aspace-call-number">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="aspace-loader"> Look for Resource in ArchivesSpace</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
          <div class="aspace-success" id="aspace-success">
            <h5 class="modal-title aspace-result-heading">Resource Result</h5>
            <div class="aspace-result-body">
              <p><span class='aspace-result-label'>Title: </span><span id="aspace-result-title"></span></p>
              <p><span class='aspace-result-label'>Library: </span><span id="aspace-result-repository"></span></p>
              <p><span class='aspace-result-label'>Creator: </span><span id="aspace-result-creator"></span></p>
              <p><span class='aspace-result-label'>Description: </span><span id="aspace-result-description"></span></p>
            </div>
            <div class="modal-footer aspace-result-populate">
              <button type="button" class="btn btn-primary" id="aspace-result-populate" data-dismiss="modal">Populate Form</button>
              <button type="button" class="btn btn-default" id="aspace-result-clear">Clear</button>
            </div>
          </div>
          <div class="aspace-error" id="aspace-error">
            <p><span class='aspace-result-label'> Error: </span><span id="aspace-result-error"></span></p>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" id="aspace-error-clear">Clear</button>
            </div>  
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-md-12">
    <%= render 'form' %>
  </div>
</div>

<script>

  $("#aspace-success").hide();
  $("#aspace-error").hide();
  console.log("checking the hide")

  var repository_id;
  var result_success;
  var result_error;

  $.ajax({
    url: '/aspace/repositories',
    type: 'GET',
    dataType: 'json',
    async: false,
    success: function(repositories) {
      jQuery.each( repositories, function(i, val) {
        var o = new Option(val.name, val.repository_id);
        /// jquerify the DOM object 'o' so we can use the html method
        $(o).html(val.name);
        $("#sel1").append(o);
        repository_id = val.repository_id;
      });
      console.log(repository_id);
    }
  });

  $("#aspace-loader").click(function (e) {
    $("#aspace-success").hide();
    $("#aspace-error").hide();
    let reposelector = document.querySelector('#sel1');
    let repo_value = reposelector.options[reposelector.selectedIndex].value;
    e.preventDefault();
    $.ajax({
      type: "GET",
      url: "/aspace/find_by_id?",
      async: false,
      dataType: 'json',
      data: {
        repository_id: repo_value,
        call_number: $("#aspace-call-number").val() // < note use of 'this' here
      },
      success: function (result) {
        console.log(result);
        console.log("yoyo");
        result_success = result;
        if (result.resource) {
          show_success();
        } else if (result.error) {
          console.log("oh snap an error");
          result_error = result.error;
          show_error();
        }
      },
    });
  });

  function show_success() {
    $("#aspace-success").show();
    console.log("show successful result");
    console.dir(result_success);
    $("#aspace-result-title").replaceWith(result_success.resource.title);
    $("#aspace-result-repository").replaceWith(result_success.repository.name);
    $("#aspace-result-creator").replaceWith(result_success.resource.creator);
    $("#aspace-result-description").replaceWith(result_success.resource.description);
  };

  function show_error() {
    $("#aspace-error").show();
    console.log("show error result");
    console.dir(result_error);
    $("#aspace-result-error").replaceWith(result_error);
  };
  
  $("#aspace-result-clear").click(function () {
    $("#aspace-success").hide();
  });
    
  $("#aspace-error-clear").click(function () {
    $("#aspace-error").hide();
  });

  $("#aspace-result-populate").click(function () {
    document.getElementById("edit-fields-title").value = result_success.resource.title;
    document.getElementById("edit-fields-abstract").value = result_success.resource.description;
    document.getElementById('collection_holding_repository').value = result_success.repository.name;
    document.getElementById('edit-fields-creator').value = result_success.resource.creator;
    
    
    console.log("did the fields populate?");
  });


  
</script>