<% # [Hyrax-overwrite-v3.4.2] %>
<%# Render presenters which aren't specified in the 'presenter_types' %>
<% presenter.grouped_presenters(except: presenter.presenter_types).each_pair do |model_name, items| %>
  <%= render 'relationships_parent_row', type: model_name, items: items, presenter: presenter %>
<% end %>

<%# [scholar-override] Show parent relationships for child %>
<%= render 'parent_relationship_table', child_id: presenter.solr_document.id %>


<%# Render grouped presenters. Show rows if there are any items of that type %>
<% presenter.presenter_types.each do |type| %>
  <% presenter.grouped_presenters(filtered_by: type).each_pair do |_, items| %>
    <%= render 'relationships_parent_row', type: type, items: items, presenter: presenter %>
  <% end %>
<% end %>

<!--
  Change below was necessary to institute Source/Deposit Collection structure.
  For more information, read the SOURCE_DEPOSIT_CHANGES_README.md in dlp-curate's root folder.
-->
<% if presenter.source_collection_id %>
  <% unless presenter.member_of_collection_ids.first == presenter.source_collection_id.first %>
    <dt>Source Collection:</dt>
    <dd>
      <ul class="tabular">
        <li><%= link_to presenter.source_collection_title.first, collection_path(presenter.source_collection_id.first) %></li>
      </ul>
    </dd>
  <% end %>
<% end %>
